/*
    Página de estilo site Portifólio Kelvyn Emanoel
    @author Kelvyn Emanoel Cruz
*/

/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

h1,h2 {
    font-family: "Krona One", sans-serif;
    font-size: 1em;
}

li {
    font-family: "Krona One", sans-serif;
    font-size: 0.8em;
}

h3, h4 {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
}

/* Layout */
body {
    background: #;
}

.Container {
    margin: 0 auto;
}

.Flex {
    display: flex;
    justify-content: space-between;
}



/* Topo ################# >>> */
#topo {
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

/* Header ################# >>> */
#logo img{
    max-width: 50px;
    margin-top: 80%;
}

header {
    height: 80px;
    margin-bottom: 25%;
}


/* Smartphone Portrait ################# >>> */
@media (min-width: 360px) {
    /* Cabeçalho */
    #logo img {
        margin-left: 80%;
    }

    #check {
        display: none;
    }

    label {
        font-size: 2em;
        padding-right: 15px;
    }

    nav ul {
        background-color: rgb(199, 179, 153);
        height: 100vh;
        position: fixed;
        top: 89px;
        right: -100%;
        transition: all 0.5s;
    }

    #check:checked ~ ul {
        right: 0;
    }

    nav ul li {
        padding: 20px;
        border-bottom: 2px solid #987699;
    }

}

/* Smartphone Landscape ################# >>> */
@media (min-width: 546px) {
    /* Layout */
    .Container {
        max-width: 540px;
    }   
}

/* Tablet Portrait ################# >>> */
@media (min-width: 768px) {
    /* Layout */
    .Container {
        max-width: 720px;
    }
}

/* Tablet Landscape ################# >>> */
@media (min-width: 992px) {
    /* Layout */
    .Container {
        max-width: 960px;
    }

    #logo img {
        margin-left: 0;
        margin-bottom: 10%;
    }

    /*  Cabeçalho */
    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 10%;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: black;
    }

    nav ul li a:hover {
        color: chartreuse;
    }

}

/* Computer ################# >>> */
@media (min-width: 1280px) {
    body{
        background-color: blueviolet;
    }
    /* Layout */
    .Container {
        max-width: 1140px;
    }

}