/*
    Página de estilo site Portifólio Kelvyn Emanoel
    @author Kelvyn Emanoel Cruz
*/

/* Fontes importadas */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  --cor-primaria: chartreuse;
  --cor-menu: rgba(127, 255, 0, 0.2);
  --cor-fundo: rgb(243, 240, 236);
  --cor-botao: rgb(255, 115, 0);

  --fonte-titulo: "Krona One", sans-serif;
  --fonte-corpo: "Comfortaa", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Smartphone Portrait ################# >>> */
@media (min-width: 360px) {
  li {
    font-family: "Krona One", sans-serif;
    font-size: 0.8em;
  }

  h1,
  p {
    font-family: var(--fonte-corpo);
  }

  h2,
  h4,
  h3 {
    font-family: var(--fonte-titulo);
  }

  /* Layout */
  body {
    background: var(--cor-fundo);
    /* background: linear-gradient(220deg, var(--cor-fundo), rgba(127, 255, 0, 0.05));
    background-attachment: fixed; */
  }

  .Container {
    max-width: 326px;
  }

  .Container,
  main {
    margin: 0 auto;
  }

  .Flex {
    display: flex;
    justify-content: space-between;
  }

  #topo img {
    z-index: 200;
  }

  /* Seta Topo ################# >>> */
  #topo {
    width: 60px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    backdrop-filter: blur(5px);
    border-radius: 100%;
  }

  /* Header ################# >>> */
  #logo img {
    max-width: 50px;
  }

  header {
    padding-top: 5vh;
    margin-bottom: 10vh;
  }

  /* Cabeçalho */

  #check {
    display: none;
  }

  label {
    font-size: 2em;
    padding: 15px;
  }

  nav {
    max-height: 45px;
    padding: 0 15px;
    left: 250px;
    background-color: var(--cor-menu);
    /* backdrop-filter: blur(5px);  entender o pq do erro*/
    border-radius: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
  }

  nav ul {
    position: fixed;
    top: 18vh;
    right: -100%;
    z-index: 1;
    height: 80%;
    background-color: var(--cor-menu);
    backdrop-filter: blur(15px);
    border-radius: 20px 0 0 20px;
    transition: all 0.5s;
  }

  #check:checked~ul {
    right: 0;
  }

  nav ul li {
    padding: 20px 40px;
  }

  /* Main */
  h1 {
    font-weight: 700;
    background-color: var(--cor-primaria);
    font-size: 0.8em;
    padding: 3px 10px;
    width: 50%;
  }

  h2 {
    padding: 5px 0 20px 0;
    font-size: 2em;
  }

  p {
    font-size: 0.8em;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main div {
    max-width: 500px;
    padding-top: 150px;
    padding-bottom: 30px;
  }

  main img {
    margin: 80px 0;
    width: 200px;
    border-radius: 5%;
    transform: rotate(5deg);
    box-shadow: 0px 4px 100px rgba(87, 59, 9, 0.2);
    /*0 2px 4px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.1);*/
  }

  /* Sobre */
  #sobre {
    background-color: #fff;
  }

  .sobre-conteudo {
    padding: 80px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre-conteudo h3 {
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 50px;
  }

  .sobre-conteudo h3 span {
    background-color: var(--cor-primaria);
    padding: 5px 10px;
    text-transform: capitalize;
  }

  .sobre-conteudo-paragrafo {
    max-width: 80%;
  }

  .sobre-conteudo-paragrafo p {
    padding-bottom: 30px;
    text-indent: 20px;
  }

  .sobre-conteudo-paragrafo span {
    font-size: 0.9em;
    font-family: var(--fonte-titulo);
    text-shadow: 0 0 10px rgba(0, 136, 255, 0.816);
    padding: 6px;
  }

  /* Projetos */
  h3 {
    font-size: 1.4em;
    text-align: center;
  }

  .projetos {
    padding: 80px 0 0 0;
  }

  #projetos-paragrafo {
    padding: 20px 0 0 0;
    text-align: center;
  }

  /* Galeria */
  .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    justify-content: center;
    margin: 40px 0;
  }

  .galeria-card {
    display: block;
    overflow: hidden;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 100px rgba(87, 59, 9, 0.2);
  }

  .galeria-card:hover {
    transform: scale(1.03);
    transition: all 0.4s ease;
  }

  .galeria-card img {
    display: block;
  }

  .galeria-card-info {
    padding: 10px 20px;
  }

  .galeria-card h4 {
    font-size: 1.2em;
  }

  .galeria-card p {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .galeria-card-info-mensagem {
    font-size: 0.7em;
    text-align: left;
    font-weight: 900;
    width: 70%;
    margin: 5px 0;
    padding: 8px 20px;
    box-shadow: 0 0 20px rgba(87, 59, 9, 0.1);
    background-color: var(--cor-primaria);
    border-radius: 20px;
  }

  /* Contato */
  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 50px 0;
  }

  .contato-texto {
    padding-bottom: 50px;
  }

  .contato-texto h4 {
    font-weight: 900;
    letter-spacing: 5px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  .contato-texto p {
    font-size: 1.2em;
  }

  .contato-texto span {
    font-weight: 700;
    text-decoration: underline var(--cor-primaria) 4px;
    text-underline-offset: 10px;
  }

  .contato-botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .contato-botoes a {
    display: flex;
    padding: 20px;
    background-color: var(--cor-primaria);
    border: 2px solid #000;
    border-radius: 50px;
    box-sizing: border-box;
    /* faz como que o tamanho definido não seja utrapassado caso o padding ou o tamanho da borda mude no houver */
  }

  .contato-botoes a p {
    display: none;
  }

  .contato-botoes a:hover {
    color: var(--cor-primaria);
    transform: scale(1.2);
    background-color: var(--cor-fundo);
    border: solid var(--cor-primaria);
    transition: all 0.4s ease;
  }

  .contato-botoes i {
    transform: scale(1.4);
  }

  /* Rodapé */
  .rodape {
    /* background: linear-gradient(240deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)); */
    background: var(--cor-menu);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
  }

  .rodape div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .rodape img {
    width: 50px;
    display: none;
  }

  .rodape h3 {
    font-size: 0.6em;
  }

  .rodape h3 span {
    text-decoration: underline 1.5px;
    text-underline-offset: 6px;
  }
}

/* Smartphone Long Portrait */
@media (min-width: 414px) {

  /* Cabeçalho */
  header {
    margin-bottom: 5vh;
  }

  /* Main */
  main {
    display: flex;
    align-items: center;
  }

  main div {
    max-width: 500px;
    padding-top: 150px;
    padding-bottom: 15px;
  }

  main img {
    margin: 40px 0 60px 0;
  }
}

/* Smartphone Landscape ################# >>> */
@media (min-width: 546px) {

  /* Layout */
  .Container {
    max-width: 540px;
  }

  /* Header */
  header {
    margin: 0;
  }

  /* Nav */
  nav {
    left: 75%;
  }

  nav ul {
    top: 23%;
    height: 70%;
  }

  nav ul li {
    padding-right: 150px;
    /* alterar no @media computador */
  }

  /* Main */
  main {
    flex-direction: row;
    justify-content: space-between;
  }

  main div {
    max-width: 55%;
    padding: 70px 0;
  }

  main img {
    width: 30%;
    margin-right: 25px;
  }

  h2 {
    font-size: 1.8em;
  }

  /* Galeria */

  /* Projetos */
  .galeria {
    gap: 30px;
  }
}

/* Tablet Portrait ################# >>> */
@media (min-width: 768px) {

  /* Layout */
  .Container {
    max-width: 680px;
  }

  /* Nav */
  label {
    display: none;
  }

  nav {
    position: static;
    padding: 8px 30px;
  }

  nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    /**/
    display: flex;
    margin-top: 0;
    /**/
  }

  nav ul li {
    padding: 0 10px;
  }

  nav ul li a {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 12px;
    transition:
      box-shadow 0.25s ease,
      text-decoration-color 0.25s ease;
  }

  nav ul li a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 255, 4, 0.8);
    text-decoration: underline 2px var(--cor-primaria);
    text-underline-offset: 4px;
  }

  /* Main */
  h1 {
    font-size: 1em;
    padding: 5px 10px;
  }

  h2 {
    font-size: 2.5em;
  }

  p {
    font-size: 1em;
    font-weight: 500;
  }

  main {
    display: flex;
    justify-content: space-between;
    padding: 10vh 0;
  }

  /* Sobre mim */
  .sobre-conteudo {
    width: 70%;
  }

  /* Projetos */
  #projetos-paragrafo {
    padding-bottom: 20px;
    width: 75%;
    margin: 0 auto;
  }

  .galeria {
    gap: 50px;
  }

  .galeria-card {
    max-width: 70%;
  }

  .galeria-card-info-mensagem {
    font-size: 0.8em;
    width: 50%;
    margin-top: 30px;
  }


  /* Contato */
  .contato-texto h4 {
    text-align: center;
  }

  .contato-texto p {
    text-align: center;
  }

  /* Rodapé */
  .rodape div {
    padding: 40px 0;
    font-size: 1.3em;
  }
}

/* Tablet Landscape ################# >>> */
@media (min-width: 992px) {

  /* Layout */
  .Container {
    max-width: 920px;
  }

  #logo img {
    margin-left: 0;
    margin-bottom: 10%;
  }

  /*  Nav */

  /* Main */
  h2 {
    font-size: 3.2em;
  }

  main div {
    width: 50%;
  }

  /* Sobre mim */
  .sobre-conteudo {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: baseline;
  }

  .sobre-conteudo h3 {
    font-size: 1.6em;
  }

  .sobre-conteudo-paragrafo {
    max-width: 400px;
  }

  /* Projetos */
  .projetos h3 {
    font-size: 1.6em;
  }

  .galeria-card {
    max-width: 420px;
    border-radius: 40px;
  }

  .galeria-card-info {
    width: 90%;
    padding-left: 40px;
  }

  .galeria-card-info h4 {
    font-size: 1.5em;
    padding: 10px 0;
  }

  .galeria-card-info-mensagem {
    margin: 20px 0;
    font-size: 1em;
    width: 50%;
  }

  /* Contato */
  .contato-texto h4 {
    font-size: 1.2em;
  }

  .contato-texto p {
    font-size: 1.6em;
  }

  .contato-botoes a {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 180px;
  }

  .contato-botoes a p {
    display: contents;
    font-family: var(--fonte-titulo);
    font-size: 1.1em;
  }

  .contato-botoes i {
    padding-right: 30px;
  }

}

/* Computer ################# >>> */
@media (min-width: 1280px) {

  /* Layout */
  .Container {
    max-width: 1140px;
  }

  /* Main */
  main div {
    width: 45%;
  }

  h1 {
    font-size: 1em;
    padding-left: 10px;
    width: 250px;
  }

  h2 {
    font-size: 3.2em;
  }

  /* Galeria */
  .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
    justify-content: space-evenly;
  }

  .galeria-card {
    max-width: 480px;
    box-shadow: 0px 4px 30px rgba(87, 59, 9, 0.3);
  }

  .galeria-card a {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 20px;
  }

  .galeria-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
  }

  .galeria-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px 50px;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .galeria-card a:hover .galeria-card-info {
    opacity: 1;
  }

  .galeria-card a:hover img {
    transform: scale(1.02);
  }

  .galeria-card-info h4 {
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: normal;
    color: #000;
  }

  .galeria-card-info p {
    font-size: 1em;
    font-weight: 600;
    color: #000;
    padding-top: 10px;
  }

  .galeria-card-info-psecond {
    display: none;
  }

  .galeria-card-info-mensagem {
    border: 1px solid #015507;
    width: 70%;
  }

  /* Sobre */
  #sobre {
    background-color: #fff;
    margin-bottom: 20px;
  }

  .sobre-conteudo {
    padding: 70px 80px 40px 80px;
    /* 40px+30px(padding-bottom) */
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .sobre-conteudo h3 {
    text-align: left;
  }

  .sobre-conteudo h3 span {
    background-color: var(--cor-primaria);
    padding: 5px 10px;
    text-transform: capitalize;
  }

  .sobre-conteudo-paragrafo {
    max-width: 400px;
  }

  .sobre-conteudo-paragrafo p {
    padding-bottom: 30px;
    text-indent: 20px;
  }

  /* Contato */
  .contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 100px 0;
  }

  .contato-texto h4 {
    font-weight: 900;
    letter-spacing: 5px;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  .contato-texto p {
    font-size: 1.5em;
    max-width: 380px;
  }

  .contato-texto span {
    font-weight: 700;
    text-decoration: underline var(--cor-primaria) 4px;
    text-underline-offset: 12px;
  }

  .contato-botoes {
    display: flex;
    flex-wrap: nowrap;
    max-height: 90px;
    gap: 50px;
  }

  .contato-botoes a {
    width: 180px;
    padding: 20px;
    margin: 10px 0;
    font-family: var(--fonte-titulo);
    text-align: center;
    background-color: var(--cor-primaria);
    border: 2px solid #000;
    border-radius: 50px;
    box-sizing: border-box;
    /* faz como que o tamanho definido não seja utrapassado caso o padding ou o tamanho da borda mude no houver */
  }

  .contato-botoes a:hover {
    transform: scale(1.2);
    background-color: var(--cor-fundo);
    border: solid var(--cor-primaria);
    transition: all 0.4s ease;
  }

  .contato-botoes i {
    transform: scale(1.4);
    padding-right: 30px;
  }

  /* Rodapé */
  .rodape div {
    padding: 50px 0;
    font-size: 1.6em;
  }
}